playbooks\templates\argocd\argocd-cm.yaml.j2
- name: 🌐 Establecer url externa en argocd-cm
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: argocd-cm
        namespace: "{{ argocd_namespace }}"
      data:
        url: "https://{{ argocd_dashboard_domain }}"