# playbooks\templates\values.yaml.j2
configs:
  params:
    server.insecure: true        # Traefik termina TLS; Argo CD sirve HTTP

server:
  service:
    type: ClusterIP
    portHttp: 80
    portHttps: 443

  # ❌ Desactivamos el Ingress incluido en el chart (usamos IngressRoute)
  ingress:
    enabled: false

  # ✅ Publica la UI en la raíz “/”
  insecure: true                 # API en HTTP
  routePrefix: /                 # UI y assets en /

  # ‼️ Ya NO necesitas --rootpath
  extraArgs: []                  # ← listado vacío

repoServer:
  service:
    type: ClusterIP

controller:
  service:
    type: ClusterIP

dex:
  enabled: false                 # Aún no necesitas OIDC