# playbooks\templates\values.yaml.j2
configs:
  params:
    server.insecure: true        # Traefik termina TLS; Argo CD sirve HTTP

server:
  service:
    type: ClusterIP
    portHttp: 80
    portHttps: 443

  ingress:                       # Ingress nativo del chart → desactivado
    enabled: false

  insecure: true                 # UI y API expuestas en HTTP interno
  routePrefix: /                 # UI en raíz “/”
  extraArgs: []                  # Sin --rootpath

repoServer:
  service:
    type: ClusterIP

controller:
  service:
    type: ClusterIP

dex:
  enabled: false                 # Sin OIDC de momento